@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.special{
    color: #FF5400;
}
.special-1{
    color: #FF5400;
    font-weight: 800;
}
.special-2{
    color: #FF5400;
    font-weight: 700;
}

/* header styles */
.navbar{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 100px;
}
.nav-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-logo h3{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav-link a{
    text-decoration: none;
    color:#424247;
    font-size: 18px;
    font-weight: 400;
    padding-right: 20px;
}
.list-icon{
    display: none;
}

/* explore section */
.explore-sec{
    /* border: 1px solid blue; */
    text-align: center;
    height: 570px;
}
.main-pic{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -2;
}
.main-gradient{
    /* border: 1px solid red; */
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1195px;
    height: 498px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    z-index: -1;
}
.explore-sec-content h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 100px;
    padding-bottom: 27px;
}
.explore-sec-content p{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}
.fillup-box-con{
    /* border: 1px solid red; */
    width: 778px;
    margin: 0 auto;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.fillup-box{
    display: flex;
    align-items: center;
}
#where{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-weight: 400;
    margin-right: 20px;
    border: none;
}
#time{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-weight: 400;
    margin-right: 20px;
    border: none;
}
#type{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-weight: 400;
    margin-right: 20px;
    border: none;
}
.submit-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    display: inline-flex;
    padding: 13px 50px;
    align-items: flex-start;
    gap: 8px;
    border: none;
    cursor: pointer;
}

/* popular tour styles */
.popular-tour{
    display: flex;
    align-items: center;
    /* border: 1px solid purple; */
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 100px;
}
.popular-content{
    width: 600px;
    /* border: 1px solid rebeccapurple; */
}
.popular-content h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.popular-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 15px;
}
.popular-content li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 15px;
    padding-left: 15px;
}
.popular-content button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    margin-top: 25px;
}

/* destination section */
.destination-section{
    padding-bottom: 100px;
}
.destination-header{
    text-align: center;
}
.destination-header h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 15px;
}
.destination-header p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.destination-img-con{
    /* border: 1px solid rebeccapurple; */
    width: 1260px;
    margin: 0 auto;
    display: flex;
}
.destination-img-con .span-1>img{
    padding-left: 38px;
    cursor: pointer;
}
.destination-img-con .span-2>img{
    padding-left: 34px;
    cursor: pointer;
}
.destination-img-con .span-3>img{
    padding-left: 38px;
    cursor: pointer;
}
.destination-img-con span>h3{
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    position: relative;
    top: 180px;
}
.destination-img-con .span-2>h3{
    left: 20px;
}

/* Choose Us styles */
.chooseUs-header{
    text-align: center;
}
.chooseUs-header h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}
.chooseUs-header p{
    width: 900px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    padding-bottom: 80px;
}
.card-1 img, .card-2 img, .card-3 img{
    margin-left: 20px;
    margin-top: 10px;
}
.card-1 h4, .card-2 h4, .card-3 h4{
    margin-left: 30px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    
}
.card-1 p, .card-2 p, .card-3 p{
    margin-left: 30px;
    margin-top: 10px;
    width: 486px;
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
.card-1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card-2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-3{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
    margin-top: 40px;
}
.card-con-1{
    /* border: 1px solid orangered; */
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.card-con-2{
    margin-bottom: 100px;
} 

/* service section styles */
.service-sec{
    padding-bottom: 100px;
}
.service-header{
    text-align: center;
}
.service-header h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 15px;
}
.service-header p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.card-24-hour{
    display: flex;
    align-items: center;
    border: 1px solid rgba(202, 135, 241, 0.582);
    background: rgba(222, 151, 250, 0.171);
    width: 550px;
    height: 230px;
    border-radius: 20px;
}
.card-24-hour img{
    width: 200px;
    margin-left: 30px;
}
.con-24 h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 20px;
    margin-bottom: 10px;
}
.con-24 p{
    color: #5A5A5D;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 300px;
    margin-left: 20px;
}
.service-card-1, .service-card-2, .service-card-3, .service-card-4{
    margin-top: 30px;
}
.service-card-1, .service-card-3{
    margin-left: 70px;
}
.service-card-1 img, .service-card-2 img, .service-card-3 img, .service-card-4 img{
    margin-top: 10px;
    margin-left: 15px;
}
.service-card-1 h3, .service-card-2 h3, .service-card-3 h3, .service-card-4 h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 20px;
    margin-bottom: 15px;
}
.service-card-1 p, .service-card-2 p, .service-card-3 p, .service-card-4 p{
    color: #5A5A5D;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 500px;
    margin-left: 20px;
}
.service-card-1{
    border: 1px solid rgba(135, 142, 241, 0.582);
    background: rgba(161, 151, 250, 0.171);
    width: 550px;
    height: 230px;
    border-radius: 20px;
}
.service-card-2{
    border: 1px solid rgba(241, 142, 135, 0.582);
    background: rgba(250, 151, 151, 0.171);
    width: 550px;
    height: 230px;
    border-radius: 20px;
}
.service-card-3{
    border: 1px solid rgba(135, 241, 149, 0.582);
    background: rgba(151, 250, 156, 0.171);
    width: 550px;
    height: 230px;
    border-radius: 20px;
}
.service-card-4{
    border: 1px solid rgba(230, 241, 135, 0.582);
    background: rgba(240, 250, 151, 0.171);
    width: 550px;
    height: 230px;
    border-radius: 20px;
}
.service-main{
    /* border: 1px solid green; */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.sevice-img{
    /* border: 1px solid rebeccapurple; */
    margin-left: 40px;
}
.sevice-img img{
    width: 500px;
    margin-top: 80px;
}

/* deal section styles */
.deals-header{
    text-align: center;
}
.deals-header h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}
.deals-header{
    margin: 0 auto;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 50px;
}
.deals-card-con-1{
    /* border: 1px solid red; */
    width: 1180px;
    margin: 0 auto;
    height: 515px;
}
.deals-card-con-1 > img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 5555px;
    z-index: -1;
}
.deals-card-con-2{
    /* border: 1px solid red; */
    width: 1180px;
    margin: 0 auto;
    height: 515px;
}
.deals-card-con-2 img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 6075px;
    z-index: -1;
}
.deals-card-con-3{
    /* border: 1px solid red; */
    width: 1180px;
    margin: 0 auto;
    height: 500px;
}
.deals-card-con-3 img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 6595px;
    z-index: -1;
}
.deal-card-icon1{
    display: flex;
}
.deal-card-icon1 h5{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.deal-card-icon1 h5{
    margin-left: 40px;
}
.deal-card-icon1 h5{
    color: #5A5A5D;
    font-size: 17px;
    font-weight: 400;
}
.deal-card-icon1 h5 > i{
    width: 24px;
    height: 24px;
    color: #FF5400;
}
.deals-card1 h3, .deals-card2 h3, .deals-card3 h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 40px;
    margin-bottom: 15px;
}
.deals-card1 p, .deals-card2 p, .deals-card3 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 500px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.deals-card1 h4, .deals-card2 h4, .deals-card3 h4{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-left: 40px;
    margin-bottom: 20px;
}
.deals-card1 button, .deals-card2 button, .deals-card3 button{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin-left: 40px;
    cursor: pointer;
}
.deals-card1, .deals-card2, .deals-card3{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.deals-card1{
    margin-top: 60px;
    margin-left: 540px;
}
.deals-card2{
    margin-top: 5px;
    margin-left: 60px;
}
.deals-card3{
    margin-top: 5px;
    margin-left: 540px;
}
.see-btn{
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin-left: 545px;
    margin-bottom: 100px;
    cursor: pointer;
}
.deals-sec button{
    text-align: center;
}
.deals-sec{
    /* border: 1px solid violet; */
    margin: 0 auto;
    width: 1300px;
}

/* perfect place section styles */
.perfect-place{
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.perfect-place-content{
    /* border: 1px solid blue; */
    width: 550px;
}
.perfect-place-content h2{
    width: 448px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.perfect-place-content p{
    width: 532px;
    color: #5A5A5D;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
    margin-left: 20px;
}
.perfect-place-content li{
    width: 518px;
    color: #131318;
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 20px;
    margin-left: 40px;
}
.perfect-place-content button{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.perfect-place-video{
    /* border: 1px solid rgb(22, 253, 1); */
    width: 650px;
    height: 600px;
    text-align: center;
}
.perfect-place-video video{
    width: 600px;
    height: 394px;
    margin-top: 85px;
    z-index: -1;
    border-radius: 16px;
}
.perfect-place-video h3{
    width: 276px;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 140px;
    margin-left: 205px;
    position: absolute;
}

/* newsletter styles */
.newsletter-sec{
    /* border: 1px solid red; */
    width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}
.newsletter-form-con{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-left: 50px;
}
.newsletter-form-con h5{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 40px;
    margin-top: 30px;
}
.newsletter-form-con p{
    width: 350px;
    color: #5A5A5D;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 40px;
    margin-top: 20px;
}
.newsletter-form-con hr{
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.newsletter-form{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 420px;
    margin: 0 auto;
    height: 220px;
}
#name{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-weight: 400;
    text-align: center;
    border: none;
    margin: 0 auto;
    margin-top: 15px;
}
#email{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-weight: 400;
    text-align: center;
    border: none;
    margin: 0 auto;
    margin-top: 15px;
}
#sub{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
}
.newsletter-img{
    margin-left: 55px;
}
.tag{
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    position: relative;
    bottom: 175px;
    left: 340px;
}
.tag h6{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    transform: rotate(-1deg);
    padding-top: 20px;
}
.tag h3{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    transform: rotate(-1deg);
}

/* footer styles */
.footer{
    width: 100%;
    height: 402px;
    background: rgba(19, 19, 24, 0.05);
}
.foot-logo{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 295.5px;
    margin: 0 auto;
    padding-top: 110px;
    margin-bottom: 25px;
}
.foot-logo img{
    width: 50px;
}
.foot-logo h3{
    color:#131318;
    font-size: 32px;
    font-weight: 800;
    padding-left: 10px;
}
.special-3{
    color: #FF5400;
}
.footer p{
    width: 580px;
    color: #5A5A5D;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.foot-icon{
    display: flex;
    /* border: 1px solid blue; */
    width: 195px;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer hr{
    width: 1072px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer h5{
    color: #131318;
    font-size: 17px;
    font-weight: 300;
    width: 210px;
    margin: 0 auto;
}
#fi2{
    padding-left: 15px;
}
#fi3{
    padding-left: 15px;
}
#fi4{
    padding-left: 20px;
}

@media screen and (max-width: 600px) {

    /* navbar */
    .navbar{
        padding-bottom: 30px;
    }
    .nav-logo img{
        width: 28px;
    }
    .nav-logo h3{
        font-size: 21px;
    }
    .list-icon{
        display: contents;
    }
    .nav-link{
        display: none;
    }
    /* explore section */
    .main-pic{
        width: 335px;
        height: 483px;
        object-fit: cover;
        border-radius: 16px;
    }
    .main-gradient{
        width: 335px;
        height: 483px;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    }
    .explore-sec-content h1{
        font-size: 22px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .explore-sec-content p{
        font-size: 14px;
        width: 304px;
        margin: 0 auto;
        padding-bottom: 10px;
        line-height: 21px;
    }
    .fillup-box-con{
        /* border: 1px solid black; */
        width: 265px;
        display: block;
        padding: 10px;

    }
    .fillup-box{
        flex-direction: column;
    }
    #where, #time, #type{
        margin-right: 0;
        width: 255px;
        height: 52px;
        margin-bottom: 15px;
    }
    .submit-btn{
        padding: 13px 80px;
    }
    /* popular tour section */
    .popular-tour{
        flex-direction: column;
        width: 350px;
        /* border: 1px solid red; */
        margin: 0 auto;
    }
    .popular-content{
        width: 300px;
        /* border: 1px solid green; */
        /* left: 0; */
        /* right: 0; */
        margin: 0 0;
    }
    .popular-content h2{
        font-size: 20px;
        width: 200px;
    }
    .popular-content p{
        width: 300px;
    }
    .popular-content li{
        width: 300px;
    }
    .popular-content button{
        margin-bottom: 20px;
    }
    .popular-img{
        /* border: 1px solid blue; */
        width: 335px;
    }
    .popular-img img{
        width: 335px;
        height: 342px;
        left: 0;
        right: 0;
    }

    /* destitnation section */
    .destination-header p{
        width: 309px;
        font-size: 14px;
        padding-bottom: 10px;
    }
    .destination-header h2{
        font-size: 20px;
        padding-bottom: 15px;
    }
    .destination-img-con{
        flex-direction: column;
        /* border: 1px solid red; */
        width: 350px;
        text-align: center;
    }
    .destination-img-con img{
        width: 335px;
        height: 176px;
        object-fit: cover;
        border-radius: 16px;
    }
    .destination-img-con .span-1>img{
        padding: 0;
    }
    .destination-img-con .span-2>img{
        padding: 0;
    }
    .destination-img-con .span-3>img{
        padding: 0;
    }
    .destination-img-con span>h3{
        top: 110px;
    }
    .destination-img-con .span-2>h3{
        left: 0;
    }

    /* choose us section */
    .chooseUs-header h3{
        font-size: 20px;
    }
    .chooseUs-header p{
        width: 309px;
        font-size: 14px;
        padding-bottom: 20px;
    }
    .card-con-1{
        flex-direction: column;
        justify-content: baseline;
        width: 375px;
    }
    .card-1{
        margin: 0 auto;
    }
    .card-2{
        margin: 0 auto;
    }
    .card-3{
        margin: 0 auto;
        margin-top: 0;
    }
    .card-1, .card-2, .card-3{
        width: 335px;
        height: 289px;
        margin-top: 25px;
    }
    .card-1 p, .card-2 p, .card-3 p{
        font-size: 10px;
        width: 271px;
        line-height: 19px;
    }

    /* service section */
    .service-main{
        flex-direction: column;
        width: 0;
    }
    .service-card-1, .service-card-3{
        margin-left: 0;
    }
    .service-card-1, .service-card-2, .service-card-3, .service-card-4{
        width: 340px;
        height: 320px;
    }
    .service-card-1 p, .service-card-2 p, .service-card-3 p, .service-card-4 p{
        width: 320px;
    }
    .service-card-1 img, .service-card-2 img, .service-card-3 img, .service-card-4 img{
        margin-top: 40px;
    }
    .card-24-hour{
        width: 340px;
        height: 430px;
        flex-direction: column;
        text-align: center;
    }
    .con-24 h3{
        margin-top: 70px;
        margin-left: 0;
    }
    .con-24 p{
        margin-left: 0;
    }
    .card-24-hour img{
        margin-left: 0;
    }
    .sevice-img{
        margin-left: 0;
    }
    .sevice-img img{
        width: 280px;
    }
    .service-header h2{
        color: #131318;
        font-size: 20px;
        font-weight: 800;
    }
    .service-header p{
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        width: 330px;
        padding-bottom: 30px;
    }

    /* deals section */
    .deals-card-con-1 img, .deals-card-con-2 img, .deals-card-con-3 img{
        width: 335px;
        height: 500px;
        border-radius: 16px;
        object-fit: cover;
    }
    .deals-card-con-1 img{
        top: 8300px;
    }
    .deals-card-con-2 img{
        top: 8830px;
    }
    .deals-card-con-3 img{
        top: 9360px;
    }
    .deals-card1{
        width: 303px;
        height: 297px;
        margin: 240px auto;
    }
    .deals-card2{
        width: 303px;
        height: 297px;
        margin: -30px auto;
    }
    .deals-card3{
        width: 303px;
        height: 297px;
        margin: 0px auto;
    }
    .deal-card-icon1 h5{
        font-size: 12px;
        margin-left: 2px;
        margin-top: 25px;
    }
    .deal-card-icon1{
        margin-left: 20px;
    }
    .deals-card1 h3, .deals-card2 h3, .deals-card3 h3{
        margin-left: 22px;
        font-size: 19px;
        margin-bottom: 7px;
    }
    .deals-card1 p, .deals-card2 p, .deals-card3 p{
        margin-left: 22px;
        font-size: 13px;
        width: 254px;
        line-height: 15px;
        margin-bottom: 8px;
    }
    .deals-card1 h4, .deals-card2 h4, .deals-card3 h4{
        margin-left: 22px;
        font-size: 15px;
        margin-bottom: 8px;
    }
    .deals-card1 button, .deals-card2 button, .deals-card3 button{
        margin-left: 22px;
    }
    .deals-header{
        /* border: 1px solid red; */
        width: 350px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .deals-header h2{
        font-size: 20px;
    }
    .deals-header p{
        width: 309px;
        font-size: 14px;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .deals-card-con-1, .deals-card-con-2, .deals-card-con-3{
        width: 350px;
        /* border: 1px solid blue; */
        height: 560px;
    }
    .deals-card-con-2{
        height: 530px;
    }
    .deals-card-con-3{
        height: 370px;
    }
    .deals-sec{
        width: 350px;
    }
    .see-btn{
        margin-left: 70px;
    }

    /* perfect place */
    .perfect-place{
        flex-direction: column;
        width: 350px;
    }
    .perfect-place-content{
        width: 330px;
    }
    .perfect-place-video{
        width: 350px;
        height: 280px;
    }
    .perfect-place-content h2{
        width: 248px;
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
        margin-left: 0;
    }
    .perfect-place-content p{
        width: 335px;
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 0;
    }
    .perfect-place-content li{
        width: 300px;
        color: #131318;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        margin-left: 20px;
    }
    .perfect-place-content button{
        margin-left: 0;
    }
    .perfect-place-video video{
        width: 335px;
        height: 200px;
    }
    .perfect-place-video h3{
        width: 200px;
        font-size: 15px;
        margin-left: 80px;
        line-height: 20px;
        margin-top: 100px;
    }

    /* newsletter section */
    .newsletter-sec{
        flex-direction: column;
        width: 350px;
    }
    .newsletter-form-con{
        width: 350px;
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .newsletter-form-con h5{
        font-size: 20px;
    }
    .newsletter-form-con p{
        width: 270px;
        font-size: 14px;
    }
    .newsletter-form-con hr{
        width: 288px;
    }
    .newsletter-form{
        width: 335px;
        height: 353px;
        flex-shrink: 0;
    }
    #name{
        width: 288px;
        height: 52px;
    }
    #email{
        width: 288px;
        height: 52px;
    }
    #sub{
        width: 288px;
        height: 52px;
    }
    .newsletter-img{
        margin-left: 0px;
    }
    .newsletter-img img{
        width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 16px;
    }
    .tag{
        width: 214.023px;
        height: 79.268px;
        left: 125px;
        bottom: 115px;
    }
    .tag h6{
        font-size: 15.854px;
    }
    .tag h3{
        font-size: 15.854px;
    }
    
    /* footer */
    .foot-logo h3{
        font-size: 21.543px;
    }
    .foot-logo{
        width: 210px;
    }
    .foot-logo img{
        width: 40px;
    }
    .footer p{
        width: 277px;
        font-size: 14px;
        text-align: center;
    }
    .footer hr{
        width: 335px;
    }
}
@media screen and (min-width: 992px) {
    
}